<main>
    <section class="form-section">
        <img/>
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
         <button class="btn-primary" (click)="submit()" [disabled]="disablePrimaryBtn">{{ primaryBtnText }}</button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
         <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
        </div>
    </section>
    <section class="main-section">
        <h2>Bem vindo ao LabResultX</h2>
        <img/>
    </section>
</main>